# Mengabaikan folder dependency Node.js
node_modules/
/circuits/node_modules/

# Mengabaikan file biner besar hasil Trusted Setup ZKP (Supaya repo gak bengkak)
*.ptau
*.r1cs
*.sym

# Mengabaikan file log sampah
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store